<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <!-- Test -->
    <add name="LiveConnectionString" connectionString="server=tableau.redemptionplus.com;database=ProjectX;UID=SQL_Read;Password=..Rplus1996;"/> 
    
    <!-- Live -->
    <!--<add name="LiveConnectionString" connectionString="server=199.27.233.182;database=ProjectX;UID=SMILEWEB_LIUSR;Password=bgwOO0k0LpcbD1fRlLWJ;"/>-->
 
    
    <add name="Masserv02ConnectionString" connectionString="server=tableau.redemptionplus.com;database=ProjectX;UID=SQL_Read;Password=..Rplus1996;"/>
  </connectionStrings>

</configuration>
